# Compiled object files
*.o

# Fortran module files
*.mod

# Executables
cavity
*.exe


# Temporary or backup files
*~
*.bak

# Debug files
*.dSYM/
*.out

# VS Code settings (optional)
.vscode/
_snap_*
.DS_Store